@import '../../scss/index.scss';

.card-container {
    display: grid;
    grid-gap: var(--space-m);
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid var(--c-grayscale-300);
    // max-width: 25rem;
    // padding: var(--space-m);
    text-align: center;
    @extend .pointer-base;
    @extend .font-base;
    @extend .f-s-m;

    @include fade;

    &:hover {
        border-color: var(--c-black);
    }

    &__discount {
        position: absolute;
        right: -0.1rem;
        top: 1rem;
        width: 25%;
        background: var(--c-brand);
        color: var(--c-white);
    }

    &__img {
        width: 100%;
        max-width: 25rem;
    }

    .card-info {
        margin-top: var(--space-m);

        &__brand {
            text-transform: uppercase;
            @extend .f-w-700;
        }

        &__deck {
            @extend .f-s-s;
        }

        &__price {
            position: relative;
            margin-top: var(--space-xs);
            display: flex;
            justify-content: center;
            align-self: center;

            @extend .f-w-700;

            &--original {
                margin-top: auto;
                margin-bottom: auto;
                margin: auto 1rem auto 0;
            }

            &.discount {
                .card-info__price--original {
                    text-decoration: line-through;
                    color: var(--c-grayscale-400);

                    @extend .f-s-s;
                }
            }
        }

        &__seller {
            max-width: 6rem;
            height: auto;
        }
    }

    // .card-tag {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    // }
}
