@import '../../../scss/index.scss';

/********** CONTAINER **********/
.checkbox-container {
    position: relative;
    display: inline-block;
    padding-left: 3.3rem;
    user-select: none;
    font-size: var(--f-size-m);
    @extend .pointer-base;
    @extend .font-base;

    /********** CHECKBOX (INPUT) **********/
    .checkbox {
        display: none;

        /********** IS CHECKED **********/
        &:checked {
            + {
                .checkmark {
                    background: var(--c-brand);

                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    /********** CHECKMARK **********/
    .checkmark {
        display: inline-block;
        width: 2.6rem;
        height: 2.6rem;
        background: var(--c-grayscale-300);
        position: absolute;
        left: 0;
        top: 0;
        @include fade(0.2s);

        /********** CHECK SYMBOL **********/
        &:after {
            content: '';
            position: absolute;
            height: 0.6rem;
            width: 1.3rem;
            border-left: 0.14rem solid var(--c-white);
            border-bottom: 0.14rem solid var(--c-white);
            top: 42%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            opacity: 0;
        }
    }

    /********** HOVER **********/
    &:hover {
        .checkmark {
            background: var(--c-grayscale-400);
        }
    }

    &.disabled {
        @extend .disabled;
    }
}
