/********** Variables **********/

/********** COLORS **********/
$colors: (
    c-black: var(--c-black),
    c-white: var(--c-white),
    c-brand: var(--c-brand),
    c-cta: var(--c-cta),
    c-link: var(--c-link),
    c-error: var(--c-error),
    c-success: var(--c-success),
    c-grayscale-300: var(--c-grayscale-300),
    c-grayscale-400: var(--c-grayscale-400),
    c-grayscale-600: var(--c-grayscale-600),
    c-grayscale-800: var(--c-grayscale-800),
);

/********** WEIGHTS **********/
$f-weights: (
    300: 300,
    400: 400,
    700: 700,
    800: 800,
);

/********** FONT SIZE **********/
$f-sizes: (
    xs: var(--f-size-xs),
    s: var(--f-size-s),
    m: var(--f-size-m),
    l: var(--f-size-l),
);

/********** HEADING SIZE **********/
$h-sizes: (
    h1: var(--h1),
    h2: var(--h2),
    h3: var(--h3),
    h4: var(--h4),
    h5: var(--h5),
);
